.table-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.active-trades-table {
    width: 100%;
    border-collapse: collapse;
}

.active-trades-table th,
.active-trades-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.active-trades-table th {
    background-color: #8199c3;
    color: white;
}

.active-trades-table tr:hover {
    background-color: #f1f1f1;
}


.active-trades-table .form-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* General Button Styles */
  .active-trades-table .btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
    color: white; /* default text color */
  }


.active-trades-table .btn-buy {
    background-color: #28a745 !important; /* Green */
  }
 .active-trades-table  .btn-buy:hover {
    background-color: #218838 !important; /* Darker green */
  }
  
  /* Sell Button - Active */
  .active-trades-table .btn-sell {
    background-color: #dc3545 !important; /* Red */
  }
  .active-trades-table .btn-sell:hover {
    background-color: #c82333 !important; /* Darker red */
  }